* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
  

html, body{
    min-width:100%;
    background-color: #262626;
    overflow: hidden;
}

.home {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-item.top {
    flex: 3;
}

.home-item.middle {
    flex: 4;
}

.home-item.bottom {
    flex: 4;
}

.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.input-and-results {
    background-color: #4D4D4D;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px; /* if alignment becomes an issue, remove this line */
    position: absolute;
    width: 40%;
    z-index: 1; /* bring to front */
    box-shadow: 10px 10px 15px 5px #222;
}

.search-input {
    padding: 1vh;
    flex: 1;
}

.seperator-parent {
    display: flex;
    justify-content: center;
    flex: 1;
}

.results-container-parent {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search {
    display: flex;
    flex-direction: row;
}

.bar {
    flex: 30;
}

.search-parent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 30;
    padding-left: 5px;
}

.results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: #4D4D4D;
    margin: 0 auto;
}

.search-icon {
    color: #EEEEEE;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex: 3; 
}

.plane {
    color: #EEEEEE;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex: 3;
}

.filters-parent {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0vh 1vh 1vh 1vh;
}

.filters-item {
    flex: 3;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    display: inline-flex;
}

.filters {
    flex: 30;
    flex-shrink: 30;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    vertical-align: middle;
    justify-content: flex-start;
    padding-left: 5px;
}

.tags {
    flex: 32;
    padding-left: 5px;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}

/* FIXME */
.tags span span {
    margin-right: 5px;
}

/* FIXME */
.filters span span {
    margin-right: 5px;
}

.test-tag span span {
    border: none;
    box-shadow: none;
}

.test {
    display: flex;
    background-color: #262626;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    flex: 15;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px #262626;
    margin-right: 5px;
}

.test-tag {
    flex: 1;
    display: flex;
    justify-content: center;
}

.test-input-parent {
    flex: 3;
    background-color: #4D4D4D;
}

.test-input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.65em;
    padding: 5px;
    /* max-width: 100px;
    min-width: 10px; */
}

.raw-input {
    height: 100%;
    width: 100%;
    display: block;
    background: transparent;
    padding: 5px;
    border: none;
    font-size: 1.5vh;
    color: #EEEEEE;
    font-family: "Roboto";
    font-weight: 400;
}

.search input::placeholder {
    font-family: "Roboto";
    font-weight: 400;
    color: #999999;
    font-size: 1.5vh;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    border: none;
    width: 100%;
}

.label {
    color: #262626;
    white-space: nowrap;
    text-align:center;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.65em;
    justify-content: flex-start;
    flex: 0 1 auto;
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding: 5px; /* FIXME */
    box-shadow: 0px 0px 0px 1px #262626;
}

.label.invert {
    background-color: #262626;
    color: white;
}

.seperator {
    width: 95%;
    height: 1px;
    background-color: #999999;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1vh;
}

.container:hover {
    background-color: #999999;
}

.label-parent {
    vertical-align: middle;
    display: inline-flex;
    cursor:pointer;
}
