@font-face {
    font-family: 'titleFont';
    src:    url('./fonts/Kbsticktoit-vJ3M.ttf') format('truetype'),
            url('./fonts/Kbsticktoit-vJ3M.ttf') format('truetype');
}

@font-face {
    font-family: 'titleFont2';
    src:    url('./fonts/Kbjellybean-739V.ttf') format('truetype'),
            url('./fonts/Kbjellybean-739V.ttf') format('truetype');
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
  

html, body{
    min-width:100%;
    /* background-color: #262626; */
    /* background-color: #EEEEEE; */
    background-color: #e0e0e0;
    overflow: hidden;
}

.home {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-item.top {
    flex: 3;
    display: inline-flex;
    justify-content: center;
}

.home-item.middle {
    flex: 4;
}

.home-item.bottom {
    flex: 4;
}

.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.input-and-results {
    /* background-color: #4D4D4D; */
    background-color: #e0e0e0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px; /* if alignment becomes an issue, remove this line */
    position: absolute;
    width: 40%;
    z-index: 1; /* bring to front */
    /* box-shadow: 10px 10px 15px 5px #222; */
    box-shadow: 5px 5px 15px 0 rgba(38, 38, 38, 0.2), -5px -5px 15px 0 rgba(255, 255, 255, 0.5);
}

.frank {
    margin-right: 5px;
}

.toggleCodeViewRoot {
    padding: 0 2vh;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

.light {
    background-color: #EEEEEE;
}

.light-color {
    color: #262626 !important;
}

.toggleCodeViewIcon {
    color: #262626;
    display: inline-flex;
    vertical-align: middle;
    flex: 3;
    display: flex;
    justify-content: center;
}

.toggleCodeViewPadding {
    flex: 33;
}

.search-input {
    flex: 1;
    padding-top: 2vh;
}

.padding-bottom {
    padding-bottom: 2vh;
}

.seperator-parent {
    display: flex;
    justify-content: center;
    flex: 1;
}

.results-container-parent {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search {
    display: flex;
    flex-direction: row;
}

.bar {
    flex: 30;
}

.search-parent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 30;
    padding-left: 5px;
    padding-top: 2vh;
}

.results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: #4D4D4D;
    margin: 0 auto;
}

.search-icon {
    color: #262626;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex: 3; 
    padding-left: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.plane {
    color: #EEEEEE;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex: 3;
}

.filters-parent {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2vh 2vh 2vh 2vh;
}

.filters-item {
    flex: 3;
    align-items: center;
    justify-content: center;
    color: #262626;
    display: inline-flex;
}

.filters {
    flex: 30;
    flex-shrink: 30;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    vertical-align: middle;
    justify-content: flex-start;
    padding-left: 5px;
}

.tags {
    flex: 32;
    padding-left: 5px;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}

/* FIXME */
.tags span span {
    margin-right: 5px;
}

/* FIXME */
.filters span span {
    margin-right: 5px;
}

.no-padding-top {
    padding-top: unset;
}

.no-padding-bottom {
    padding-bottom: unset;
}

.flip {
    transform: scale(1, -1);
}

.test-tag span span {
    border: none;
    box-shadow: 0px 0px 0px 1px #262626;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin-bottom: 2vh;
}

.tag-input {
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px #262626;
    margin-right: 5px;
    background-color: #262626;
}

.title {
    font-family: 'titleFont', Fallback, sans-serif;
    font-size: 10em;
    display: inline-flex;
    align-items: flex-end;
    /* color: #262626 */
    text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);

   caret-color:#262626;
   outline: none;
   color: #262626;
}

.test-tag {
    display: flex;
    justify-content: center;
}

.test-input-parent {
    background-color: #4D4D4D;
    display: inline-flex;
}

.test-input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.8em;
    padding: 5px;
    width: 5ch;
    /* FIX ME */
    max-width: 25ch; 
    vertical-align: middle;
}

.raw-input {
    height: 100%;
    width: 100%;
    display: block;
    background: transparent;
    padding: 5px;
    border: none;
    font-size: 1.5vh;
    color: #262626;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
}

.result-container {
    padding: 2vh;
}

.result-card {
    /* border: 5px solid #EEEEEE; */
    background-color: #EEEEEE;
    margin-bottom: 5px;
    border-radius: 3px;
}

.search input::placeholder {
    font-family: "Roboto";
    font-weight: 400;
    color: #999999;
    font-size: 1.5vh;
}

.test-input:focus {
    width: 5ch;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    border: none;
}

.label {
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    color: #262626;
    white-space: nowrap;
    text-align:center;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 400;
    /* font-size: 0.65em; */
    font-size: .8em;
    justify-content: flex-start;
    flex: 0 1 auto;
    display: inline-flex;
    align-items: center;
    background-color: #EEEEEE;
    padding: 1vh; /* FIXME */
}

.label.invert {
    background-color: #262626;
    /* box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5); */

    /* background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0.3)
  ); */

    color: #EEEEEE;
    /* color: #262626; */
}

.seperator {
    width: 95%;
    height: 1px;
    background-color: #999999;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2vh;
}

.container:hover {
    background-color: #999999;
}

.label-parent {
    vertical-align: middle;
    display: inline-flex;
    cursor:pointer;
}

.label-parent.focus, .label-parent:focus {
    outline: 0;
    box-shadow: none!important;
}
